/* OrderCalendar.css */


.order-calendar {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}


.react-calendar {
    width: 100%;
    max-width: 100%;
}


.completed-order {
    background-color: lightgreen;
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
}


.pending-order {
    background-color: lightcoral;
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
}


.order-details {
    margin-top: 20px;
}


.order-detail-item {
    margin-bottom: 10px;
}


.order-date {
    font-weight: bold;
}
